{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h1>Product</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'pagina_principal'%}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </tr>
        </tbody>
    </table>

</body>
</html>